TOKEN=your_token
path_source=disc_name:\path\to\controlled_folder
path_dist=folder_in_cloud_service
path_to_log=disc_name:\path\to\log_folder\file.log
timeout=<период сканирования локальной папки в секундах>
cloud_scan_time_delta=<период сканирования папки в облаке в секундах>
time_reload=<таймаут после разрыва соединения с облаком в секундах>